@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 255, 0.3);
    font: normal 15pt Arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: white;
    text-align: center;
    padding-top: 50px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: auto;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer > p {
    width: auto;
    text-align: center;
    font-style: italic;
    color: white;
    margin: 30px;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

div {
    padding: 15px;
}

header > h1 {
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

p {
    margin: 10px;
}