@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: blue;
    font: normal 15pt Arial;
}

header {
    
}

section {

}

footer {
    width: auto;
    text-align: center;
}

