@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 255, 0.3);
    font: normal 15pt Arial;
    height: auto;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    width: auto;
    text-align: center;
    font-style: italic;
    color: white;
}

